<div class="pagination d-flex justify-content-center">
    <span class="step-links">
        <span style="display: inline-block; width: 60px; text-align: center;">
            {% if not page.has_previous %}
                <a class="disabled" style="visibility: hidden;" aria-disabled="true" tabindex="-1">Prev</a>
            {% else %}
                <a href="?page={{ page.previous_page_number }}">Prev</a>
            {% endif %}
        </span>

        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

        <span style="display: inline-block; width: 60px; text-align: center;">
            {% if not page.has_next %}
                <a class="disabled" style="visibility: hidden;" aria-disabled="true" tabindex="-1">Next</a>
            {% else %}
                <a href="?page={{ page.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </span>
</div>
