{% extends "blogapp/base.html" %}
{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<a href="{% url 'blogapp:recipe_list' %}">Back to Recipes</a>
<h6>
</h6>
<div class="head" >
    <div style="display: flex; justify-content: space-between; align-items: center;" >
        <h1>{{ recipe.title }}</h1>
        <a href="{% url 'blogapp:post_share' recipe.id %}" style="padding: 8px 12px; background: #007bff; color: white; text-decoration: none; border-radius: 5px;">
            Share
        </a>
    </div>
    <strong>by {{ recipe.author }} | {{ recipe.publish }}</strong>
</div>



<p>{{ recipe.description }}</p>

<h2>Ingredients</h2>
<ul>
    {% for ingredient in recipe.ingredients_list %}
        <li>{{ ingredient }}</li>
    {% empty %}
        <li>No ingredients listed.</li>
    {% endfor %}
</ul>

<h2>Instructions</h2>
<ol>
    {% for step in recipe.instructions_list %}
        <li>{{ step }}</li>
    {% empty %}
        <li>No instructions available.</li>
    {% endfor %}
</ol>


{% endblock %}